$theme-name: 'theme_cold';

//common
$primary-text: #fff;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #fff;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #000;
$header-bd: none;
$header-shadow: none;
$header-color: #fff;
$header-color-hov: #fcc75b;
$burger-line: #fff;

//form
$form-input-bd: #fff;
$form-input-placeholder: #fff;

//footer
$footer-bg: #FFF;
$footer-bd: #EDF2F5;

//popup
$popup-close-btn: #fff;
$popup-close-btn-hov: #fff;
$popup-subtitle: #353535;
$popup-title: #353535;
$popup-input-bd: #555;
$popup-input-bd-hov: #555;
$popup-input-color: #555;

