mixin header()

    | <!-- ********** header-S-1 ********** -->
    header.header
        nav.header__navbar.blurme

            .w-center
                .header__wrapper
                    .header__brand
                        a.header__brand-link(href="./index.html")  LORONS

                    button#burger.header__burger(type="button")
                        span.header__burger-line
                        span.header__burger-line
                        span.header__burger-line
                        span.header__burger-line
                    #menu.header__menu
                        ul.header__menu-inner
                            li.header__menu-item
                                a.header__menu-link.active(href="/") Home
                            li.header__menu-item
                                a.header__menu-link(href="/#services") Services
                            li.header__menu-item
                                a.header__menu-link(href="/#about") About us
                            li.header__menu-item
                                a.header__menu-link(href="/#contact") Contact Us
                            li.header__menu-item
                                a.header__menu-link(href="/#values") OUR VALUES