// Section: Navbar Menu
.header {
    z-index: 9999;
    background: $header-bg;

    &__navbar {
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border: none;
        outline: none;
    }

    &__brand-center {
        display: none;
    }

    &__brand-link {
        font-size: 28px;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
    }

    &__menu {
        background: $header-bg;

        &-inner {
            @extend %ul-reset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
        }

        &-link {
            font-size: 18px;
            font-weight: 600;
            color: $header-color;
            text-decoration: none;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;
            transition: all .35s ease-in-out;

            &.active,
            &:hover {
                border: none;
                letter-spacing: 2.5px;
                color: $header-color-hov;
                outline: none;
            }
        }
    }

    &__burger-line {
        position: absolute;
        right: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $burger-line;
        border: none;
        border-radius: .25rem;
        outline: none;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: .5rem;
        }

        &:nth-child(2) {
            width: 28px;
        }

        &:nth-child(3) {

            display: none;
        }

        &:nth-child(4) {
            top: 1rem;
        }
    }

    &__burger {
        position: relative;
        display: none;
        width: 42px;
        height: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        opacity: 0;
        visibility: hidden;
        transform: rotate(0deg);
        transition: .35s ease-in-out;

        &.active {
            .header__burger-line {
                &:nth-child(1),
                &:nth-child(4) {
                    top: 1.25rem;
                    left: 50%;
                    width: 0;
                }

                &:nth-child(2) {
                    width: 42px;
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    display: block;
                    width: 42px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    @include respond-from(md) {
        &__navbar {
            padding: 10px 0;
        }

        &__brand-link {
            font-size: 36px;
        }

    }

    // Section: Responsive Media Query
    @media only screen and (max-width: 1024px) {

        &__burger {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        &__menu {
            width: 100%;
            max-height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: all .35s ease;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            &-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 1rem 0;
                gap: .75rem;
            }
        }
    }
}



