include ../components/common/head
include ../components/common/include-js
include ../components/common/img-svg

include ../components/%=component_form=%/form/form
include ../components/%=component_popup=%/popup/popup
include ../components/%=component_thank=%/thank/thank
include ../components/%=component_sidebar-button=%/sidebar-button/sidebar-button
include ../components/%=component_sidebar=%/sidebar/sidebar

doctype html
html(class="no-js" lang="en")
    head
        +head
    body

        block content
        .heading-logo
            a(href="/")
                img(src="static/img/content/logo.svg" alt="")

        .heading-btn
            button.popup-btn.btn Consultation
        +popup
        +thank

    +include-js

    block scripts
