extends _page-template

block content
    | <!-- skin 1 -->
    .w-inner
        .tabs
            .tabs__wrap.w-frame
                #secion1.tab.tabs__first-tab.frame.active-frame.first-frame
                    .tabs__first-tab-content
                        .w-center
                            .tabs__content
                                .tabs__left
                                    .tabs__tab-subtitle WELCOME TO THE NEW WORLD
                                    .w-gap-sm
                                    .tabs__tab-title We know how to take your business to the next level! Contact us and you'll get results right away.
                                    .tabs__btns-wrap
                                        button.popup-btn.btn Need consultation
                #secion2.tab.tabs__second-tab.frame.second-frame
                    .tabs__second-tab-content
                        .w-center
                            .tabs__content
                                .tabs__left
                                    .tabs__tab-title Who we are?
                                    .tabs__text We are a digital company that bravely implements different branding, marketing, and business analysis tasks. We work all over the world and provide services to companies in retail, IT, services, manufacturing, and agriculture.
                                    .tabs__text In 10 years, we have done over 200 projects. Our work has won prestigious awards, and the number of clients who want to reorder branding is only growing.
                                    .tabs__text We do the whole range of services from market analysis to advertising and lead generation. The client does not need to look for 10 contractors. After all, we help create or refine a product, develop a service model, customize turnkey marketing and come up with the world's most creative design for a product.
                                .tabs__right.ship.animation-ship
                                    img(src="static/img/content/ship.png" alt="")
                            .scroll-down-wrap
                                .scroll-down
                                span scroll down
                    .tabs__second-tab-content.visible-from-md
                    .tabs__second-tab-content
                        .w-gap-xl
                        .w-center
                            .tabs__content.tabs__content-last
                                .tabs__left
                                    .tabs__tab-title.colored Who we are?
                                    .tabs__text.colored Digital is a large complex of work to promote a brand. We try to do as much work as possible at an affordable price.
                                    .tabs__text.colored We make the process as transparent as possible. Likewise, we explain in detail how the branding is developed, the cost is formed, and at the end of each stage we agree on the result.
                                    .tabs__text.colored What kinds of work we do:
                                    .tabs__text.colored - Analyze. We audit the brand, analyze competitors and target audience.
                                    .tabs__text.colored - Develop the brand strategy. This is a multipage document describing ideas and key theses, characteristics of the target audience, and insights.
                                    .tabs__text.colored - Create corporate style. We develop the logo, corporate identity, advertising formats, packaging and interior design.
                                    .tabs__text.colored - Create design the marketing strategy. We segment the target audience and for each segment we formulate the key point of advertising. We also choose the channels of communication and make a promotion plan.
                                    .tabs__text.colored - Create a website or application.We make sure that the site supports the brand and converts users into customers.

                #secion3.tab.tabs__third-tab.frame.third-frame
                    .tabs__third-tab-content
                        .w-center
                            .tabs__content
                                .tabs__left
                                    .tabs__tab-title Entrust the promotion of your business to professionals
                                    .tabs__text We are a digital company that provides services in marketing, business analysis, and design
                                #scene.scense.tabs__right(data-relative-input="true")
                                    img(src="static/img/content/serv.png" alt="" data-depth="0.2")
                            .scroll-down-wrap
                                .scroll-down
                                span scroll down
                    .tabs__third-tab-content
                        .w-center
                            .tabs__content
                                .tabs__left
                                    .tabs__tab-title Digital
                                    .tabs__tab-sub web&nbsp;&nbsp;/&nbsp;&nbsp;mobile&nbsp;&nbsp;/&nbsp;&nbsp;ux/ui&nbsp;&nbsp;/&nbsp;&nbsp;digital product video animation&nbsp;&nbsp;/&nbsp;&nbsp;3D design
                                    .tabs__text Our full-service digital agency solves brands' business and marketing challenges with a variety of effective tools. We build effective digital communication, focusing on ROI. We achieve results you can be proud of. We are experts in Internet marketing and development for eCommerce projects, regional and national brands.
                                    .tabs__text We have more than 20 specialists, including UX\UI designers, editors, scriptwriters, creative marketers, copywriters, layout designers, web designers and others.
                                    .tabs__text Our team will help your business to flourish. We create new brands from scratch, come up with marketing campaigns and develop enticing visuals. Our clients include the largest manufacturing, trading and IT companies from Australia, Europe, USA and other parts of the world.
                                    .tabs__text Thanks to our work, your business will become recognizable among customers. In addition, we will analyze all operational processes of your business, identify the weaknesses and amplify the strengths.
                                    .tabs__price Cost: 250€ - 600€
                                    .tabs__btn
                                        button.popup-btn.btn Need consultation

                                .tabs__right
                                    .tabs__image
                                        img(src="static/img/content/digital-img.png" alt="")
                            .w-gap-lg
                                .tabs__content
                                    .tabs__left
                                        .tabs__tab-title Strategy
                                        .tabs__tab-sub brand communication strategy&nbsp;&nbsp;/&nbsp;&nbsp;brand positioning&nbsp;&nbsp;/&nbsp;&nbsp;customer experience service design&nbsp;&nbsp;/&nbsp;&nbsp;NPD&nbsp;&nbsp;/&nbsp;&nbsp;R&D
                                        .tabs__text Our company also provides services for the development of business strategy. The methodology of the strategic business model audit includes analysis of the company's current business model, assessment of competitiveness and market position of the company. We also analyze the current financial condition of the business and forecasting.
                                        .tabs__text We evaluate the relevance and competitiveness of the company's current business model. Thanks to this you will immediately see the risks and points for multiple business development.
                                        .tabs__text Our company employs analysts, financiers, marketers and other specialists. They create strategies with a creative and accurate approach. You will receive the developed strategy with comprehensive descriptions of all processes of activity. We plan marketing, digital, branding as well as financial and management models for your business.
                                        .tabs__price Cost: 400€ - 850€
                                        .tabs__btn
                                            button.popup-btn.btn Need consultation
                                    .tabs__right
                                        .tabs__image
                                            img(src="static/img/content/digital-img2.svg" alt="")

                            .w-gap-lg
                                .tabs__content
                                    .tabs__left
                                        .tabs__tab-title Branding
                                        .tabs__tab-sub naming&nbsp;&nbsp;/&nbsp;&nbsp;logo + brand identity&nbsp;&nbsp;/&nbsp;&nbsp;brand guidelines rebranding&nbsp;&nbsp;/&nbsp;&nbsp;event branding
                                        .tabs__text We perform a range of branding services. We research the market and competitors, think through strategy and corporate identity, and build effective marketing campaigns.
                                        .tabs__text Our approach is the 360 Brand Experience system, the goal of which is not just to draw a design, but to design an experience of meaningful brand interaction with the audience. This experience has to be consistent and enjoyable for the person at every point of this interaction. We have been creating strong brands for 10 years) our portfolio includes over 200 projects in real estate, retail, technology and other industries.
                                        .tabs__text Branding involves different services and is a complex step-by-step process. We always create bespoke solutions that meet the client’s individual objectives. Sometimes a brand that already exists needs to be audited and refined.
                                        .tabs__text We make the process as transparent as possible. We tell you in detail how the brand development takes place, the cost is formed, and at the end of each stage we agree on the optimal result.
                                        .tabs__price Cost: 630€ - 1150€
                                        .tabs__btn
                                            button.popup-btn.btn Need consultation
                                    .tabs__right
                                        .tabs__image
                                            img(src="static/img/content/digital-img3.svg" alt="")

                #secion4.tab.tabs__fourth-tab.frame.fourth-frame
                    .tabs__fourth-tab-content
                        .w-center
                            .tabs__content
                                .tabs__left
                                    .tabs__tab-title Hire us
                                    .tabs__text Do you have this gut feeling that something great might come out of our cooperation? Let’s talk. info@greditel.com

                                    .tabs__tab-title Contact us
                                    .tabs__text +40786797052
                                    .tabs__text.tabs__text-contacts Romania, Bucuresti Sectorul 2, Bul. Basarabia, Nr.86, Bloc A3, Scara A, Etaj 1, Ap. 1
                                .tabs__right
                                    +form
        .sidebar-wrap
            +sidebar