extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +sidebar-button
        .tabs
            .tabs__wrap.w-frame
                .tab.frame.active-frame
                    .tabs__tab-content-privacy
                        .w-center
                            h1 Privacy Policy

                            p The privacy policy defines the company's rights and obligations regarding the processing of the personal data of the user of this site and the client. Any use of company services, as well as providing any data about yourself (including phone number and name) implies automatic consent to the norms of this privacy policy.

                            h3 Terms used

                            p 1.1 The Company is a legal entity that owns and operates this website. In this case, the company is the administrator of this website. It is responsible for the privacy policy.

                            p 1.2 Website is an Internet resource that has its domain. This policy refers to the site on which information about the privacy policy is posted. 

                            p 1.3 Client / Internet user means a person who is a visitor of this website and/or a client of the company. Client or Internet user is any person who has visited any page of this website.

                            p 1.4 Privacy Policy is a document that regulates the relationship between the Company and the Client in the matter of processing personal data and its protection.

                            h3 Company Responsibilities

                            p 2.1 The company is responsible for the preservation and processing of the personal data of users of this site. Any leakage or use of customer information by third parties is the responsibility of the company.

                            p 2.2 The company doesn't use the contact data, residential address, and other data about the client for commercial purposes.

                            p 2.3 The company does not require the client to provide personal data, except for the information that is necessary to place an order and provide the service.

                            p 2.4 The company doesn't keep the information about the client after the end of the services. All data is deleted and cannot be reused.

                            p 2.5 Personal data about the customer cannot be used for any purposes not related to the processing of the order and the provision of the chosen service.

                            h3 Client Rights

                            p 3.1 The client has the right not to provide the company with personal data if it is possible for the provision of services.

                            p 3.2 The client has the right to demand that the company stop storing personal data and remove it from any media (including cloud storage or internal server).

                            p 3.3 The client has the right to refuse to purchase services if he is not satisfied with the norms of this privacy policy.

                            p 3.4 The client has the right to appeal in court any disputes related to the processing of personal data.