extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +sidebar-button
        .tabs
            .tabs__wrap.w-frame
                .tab.frame.active-frame
                    .tabs__tab-content-privacy
                        .w-center
                            h1 Refund Policy
                            p Before submitting your refund request, please contact our customer service department and our specialists will do everything possible to make sure you are satisfied with our services.

                            p All refund requests are made in writing (electronic or paper).

                            p Refund requests are processed within 7 business days of submitting a written request. A client may claim a refund for unused services in the following cases:

                            ul
                                li Deadline to pay for the service before the service is rendered, at the time the service is rendered.
                                li Deadline for requesting a refund at the time of service, up to 6 months from the date of payment for the service.

                            p Any refund will be deducted 10% of the service fee (tax and service charge). The remaining amount of the refund corresponds to the application deadline.

                            p No refunds will be given if you apply 6 months or more after you paid for the service.
