extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +sidebar-button
        .tabs
            .tabs__wrap.w-frame
                .tab.frame.active-frame
                    .tabs__tab-content-privacy
                        .w-center
                            h1 Terms of Use

                            p This User Agreement (further – the Agreement) regulates the relationship between the Administration owner (further – the Administration) and the website's User.
                            p The Administration website isn't a media organization.
                            p While visiting this website, you agree with these Terms and Conditions of Use.
                            p If you disagree with these Terms and Conditions of Use, please don't use this site.

                            h3 Rights and Obligations of the Parties

                            p The User has the right to:

                            ul
                                li Search for information on the website,
                                li Obtain information from the website,
                                li Copy the information and use it on other websites with reference to the source,
                                li Copy the information and use it on other websites with the permission of the Administration,
                                li Use the website's data for personal, non-commercial purposes,
                                li Use the website's information for commercial purposes with the Administration's consent.

                            p The Administration has the right to:

                            ul
                                li Create, modify, and cancel rules at its discretion and as needed,
                                li Limit access to any information on the website,
                                li Create, edit, and delete data.

                            p The User undertakes:

                            ul
                                li Not to disrupt the website's functionality,
                                li Not to perform actions aimed at misleading other Users,
                                li Not to use scripts (programs) for automated information gathering and/or interaction with the website and its services.

                            p The Administration undertakes to:
                            ul
                            li Maintain the site's functionality, except when it's impossible for reasons beyond the Administration's control.

                            h3 Responsibilities of the Parties

                            ul
                                li The Administration isn't responsible for the misalignment between the expected and received services,
                                li The Administration isn't responsible for services provided by third parties,
                                li In case of force majeure (military action, state of emergency, natural disasters, etc.), the Administration doesn't guarantee the safety of the information posted by the User and uninterrupted work of the information resource.

                            h3 Terms of the Agreement

                            ul
                                li This Agreement comes into force at any use of the website,
                                li The Agreement ceases to be effective when an Agreement's new version appears,
                                li The Administration reserves the right to modify this Agreement at its sole discretion unilaterally,
                                li The Administration doesn't notify Users about the changes in the Agreement.