mixin sidebar()
    sidebar.sidebar
        .sidebar__menu
            .hidden-menu
                ul.hidden-menu-list
                    li.sidebar__menu-item
                        a.active(href="#secion1")
                            b Home
                    li.sidebar__menu-item
                        a.counter-item.js-to-item(href="#secion2")
                            b About
                    li.sidebar__menu-item
                        a.counter-item.js-to-item(href="#secion3")
                            b Explore
                    li.sidebar__menu-item
                        a.counter-item.js-to-item(href="#secion4")
                            b Contacts