mixin info()

    | <!-- ********** info-S-1 ********** -->
    .info
        .info__content Read the Privacy Policy, Refund Policy, and Terms of Used. This information governs our rights and responsibilities with our clients. We strive to ensure the absolute security of every customer's data and strictly adhere to local and international law.
        .info__links-wrap
            ul.info__links
                li.info__links
                    a(href="privacy.html") Privacy Policy
                li.info__links
                    a(href="refund.html") Refund Policy
                li.info__links
                    a(href="terms.html") Terms & Conditions